<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>VerParquesNacionalesServlet1</servlet-name>
        <servlet-class>cr.ac.ucr.paraiso.lenguajes.webapp.servlet.VerParquesNacionalesServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarParqueNacionalServlet2</servlet-name>
        <servlet-class>cr.ac.ucr.paraiso.lenguajes.webapp.servlet.InsertarParqueNacionalServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertarParqueNacionalServlet2</servlet-name>
        <url-pattern>/insertarParque2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerParquesNacionalesServlet1</servlet-name>
        <url-pattern>/verParquesNacionales1</url-pattern>
    </servlet-mapping>
</web-app>
